In [103]:
#Latihan1
# Identifying and Handling Missing Data
import pandas as pd

# Sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
    'Age': [24, 30, None, 22, 35],
    'Salary': [48000, None, 57000, None, 60000]
}
df = pd.DataFrame(data)

# Filling missing values and dropping rows
df.fillna({
    'Age': df['Age'].mean(),
    'Salary': df['Salary'].median()
}, inplace=True)

df.dropna(subset=['Name'], inplace=True)
print('After cleaning:\n', df)

After cleaning:
       Name    Age   Salary
0    Alice  24.00  48000.0
1      Bob  30.00  57000.0
2  Charlie  27.75  57000.0
3    David  22.00  57000.0

In [104]:
#Latihan2
# Standardizing Categorical Data
# Sample dataset with inconsistent categorical values
data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'Tablet'],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets']
}
df = pd.DataFrame(data)

# Standardize category values
df['Category'] = df['Category'].str.capitalize()
print('Standardized Data:\n', df)

Standardized Data:
    Product     Category
0   Laptop  Electronics
1   Laptop  Electronics
2  Desktop  Electronics
3   Tablet      Gadgets
4   Tablet      Gadgets

In [105]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in ./anaconda3/envs/Rsydnihbro/lib/python3.13/site-packages (from scikit-learn) (2.3.3)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (62 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (9.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.4/9.4 MB 1.0 MB/s  0:00:08m 1.0 MB/s eta 0:00:01m
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.16.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (35.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.7/35.7 MB 871.5 kB/s  0:00:40 eta 0:00:01[36m0:00:02
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [scikit-learn]0m 3/4 [scikit-learn]
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.3 threadpoolctl-3.6.0

In [109]:
#PracticeTask
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df = pd.read_csv('/home/rasyad/Downloads/Titanic - Titanic.csv')

print("Jumlah missing value per kolom:")
print(df.isna().sum())

Jumlah missing value per kolom:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [110]:
# Transformasi data untuk normalisasi kolom numerik
num_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Memperbaiki missing value numerik dengan rata-rata (mean)
for col in num_cols:
    df[col] = df[col].fillna(df[col].mean())

# Melakukan normalisasi dengan MinMaxScaler
scaler = MinMaxScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

print("\nNormalisasi kolom numerik:\n", df[num_cols].head())

Normalisasi kolom numerik:
    PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare
0     0.000000       0.0     1.0  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0  0.434531  0.000    0.0  0.015713

In [111]:
# Standarisasi kolom kategori
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print("Kolom kategori:", categorical_cols)

# Mengubah semua ke huruf kecil + kapitalisasi
for col in categorical_cols:
    df[col] = df[col].str.strip().str.lower().str.capitalize()

# Menghapus duplikat
df = df.drop_duplicates()

print("Result setelah standarisasi kategori:")
print(df[categorical_cols].head())

Kolom kategori: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
Result setelah standarisasi kategori:
                                                Name     Sex  \
0                            Braund, mr. owen harris    Male
1  Cumings, mrs. john bradley (florence briggs th...  Female
2                             Heikkinen, miss. laina  Female
3       Futrelle, mrs. jacques heath (lily may peel)  Female
4                           Allen, mr. william henry    Male

             Ticket Cabin Embarked
0         A/5 21171   NaN        S
1          Pc 17599   C85        C
2  Ston/o2. 3101282   NaN        S
3            113803  C123        S
4            373450   NaN        S