In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 8.0 MB/s  0:00:008.1 MB/s eta 0:00:01
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pymongo]━━━ 1/2 [pymongo]
Successfully installed dnspython-2.8.0 pymongo-4.15.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
#Tugas1
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [34]:
#Tugas2
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}

collection.insert_one(employee_data)
print("Data Inserted")

# Insert data sekaligus (multiple insert)
multiple_employees = [
    {'name': 'Ilham', 'department': 'Manager', 'age': 30, 'salary': 10000},
    {'name': 'Louis', 'department': 'IT', 'age': 25, 'salary': 5200},
    {'name': 'Deja', 'department': 'Finance', 'age': 24, 'salary': 6000},
    {'name': 'Sumbul', 'department': 'HR', 'age': 31, 'salary': 5800}
]

collection.insert_many(multiple_employees)
print("Data succesfully added!")
print("Employee Data")
for emp in collection.find():
    print(emp)

Data Inserted
Data succesfully added!
Employee Data
{'_id': ObjectId('6933ce6b3bcf340c5c337998'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6933ce6b3bcf340c5c337999'), 'name': 'Ilham', 'department': 'Manager', 'age': 30, 'salary': 10000}
{'_id': ObjectId('6933ce6b3bcf340c5c33799a'), 'name': 'Louis', 'department': 'IT', 'age': 25, 'salary': 5200}
{'_id': ObjectId('6933ce6b3bcf340c5c33799b'), 'name': 'Deja', 'department': 'Finance', 'age': 24, 'salary': 6000}
{'_id': ObjectId('6933ce6b3bcf340c5c33799c'), 'name': 'Sumbul', 'department': 'HR', 'age': 31, 'salary': 5800}

In [35]:
# Update data
collection.update_many(
    {'department': 'IT'},
    {'$mul': {'salary': 1.15}}  # Naik 10%
)

print("Salary for department IT +15%")

# Menampilkan hasil
for emp in collection.find({'department': 'IT'}):
    print(emp)

Salary for department IT +15%
{'_id': ObjectId('6933ce6b3bcf340c5c33799a'), 'name': 'Louis', 'department': 'IT', 'age': 25, 'salary': 5979.999999999999}

In [37]:
# Delete data
collection.delete_one({'name': 'Alice'})
print("Alice's data has been deleted!")

Alice's data has been deleted!

In [38]:
# Menampilkan data setelah di update dan delete
print("Final Data")
for employee in collection.find():
    print(employee)

Final Data
{'_id': ObjectId('6933ce6b3bcf340c5c337999'), 'name': 'Ilham', 'department': 'Manager', 'age': 30, 'salary': 10000}
{'_id': ObjectId('6933ce6b3bcf340c5c33799a'), 'name': 'Louis', 'department': 'IT', 'age': 25, 'salary': 5979.999999999999}
{'_id': ObjectId('6933ce6b3bcf340c5c33799b'), 'name': 'Deja', 'department': 'Finance', 'age': 24, 'salary': 6000}
{'_id': ObjectId('6933ce6b3bcf340c5c33799c'), 'name': 'Sumbul', 'department': 'HR', 'age': 31, 'salary': 5800}

In [39]:
#Tugas3
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 6000.0}
{'_id': 'Manager', 'average_salary': 10000.0}
{'_id': 'HR', 'average_salary': 5800.0}
{'_id': 'IT', 'average_salary': 5979.999999999999}

In [45]:
#Latihan 4.1
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["rass_bunker"]
products = db["products"]

# Produk (Harga dalam bentuk $)
data_product = [
    {'name': 'Pistol Mk II', 'category': 'Weapon', 'price': 73750, 'stock': 20},
    {'name': 'SNS Pistol Mk II', 'category': 'Weapon', 'price': 79575, 'stock': 20},
    {'name': 'Heavy Revolver Mk II', 'category': 'Weapon', 'price': 99000, 'stock': 10},
    {'name': 'Pump Shotgun Mk II', 'category': 'Weapon', 'price': 82500, 'stock': 15},
    {'name': 'SMG Mk II', 'category': 'Weapon', 'price': 85500, 'stock': 10},
    {'name': 'Assault Rifle Mk II', 'category': 'Weapon', 'price': 98750, 'stock': 10},
    {'name': 'Carbine Rifle Mk II', 'category': 'Weapon', 'price': 107500, 'stock': 5},
    {'name': 'Bullpup Rifle Mk II', 'category': 'Weapon', 'price': 105750, 'stock': 5},
    {'name': 'Explosive Rounds/box', 'category': 'Ammo', 'price': 55000, 'stock': 20},
    {'name': 'AR Ammo/box', 'category': 'Ammo', 'price': 26500, 'stock': 50}
]

# Insert data ke koleksi
products.insert_many(data_product)
print("Data Products Inserted")

Data Products Inserted

In [58]:
print("Product List")
for product in products.find():
    print(product)

Product List
{'_id': ObjectId('6933d8803bcf340c5c3379a9'), 'name': 'Pistol Mk II', 'category': 'Weapon', 'price': 73750, 'stock': 20}
{'_id': ObjectId('6933d8803bcf340c5c3379aa'), 'name': 'SNS Pistol Mk II', 'category': 'Weapon', 'price': 79575, 'stock': 20}
{'_id': ObjectId('6933d8803bcf340c5c3379ab'), 'name': 'Heavy Revolver Mk II', 'category': 'Weapon', 'price': 99000, 'stock': 10}
{'_id': ObjectId('6933d8803bcf340c5c3379ac'), 'name': 'Pump Shotgun Mk II', 'category': 'Weapon', 'price': 82500, 'stock': 15}
{'_id': ObjectId('6933d8803bcf340c5c3379ad'), 'name': 'SMG Mk II', 'category': 'Weapon', 'price': 85500, 'stock': 10}
{'_id': ObjectId('6933d8803bcf340c5c3379ae'), 'name': 'Assault Rifle Mk II', 'category': 'Weapon', 'price': 98750, 'stock': 10}
{'_id': ObjectId('6933d8803bcf340c5c3379af'), 'name': 'Carbine Rifle Mk II', 'category': 'Weapon', 'price': 107500, 'stock': 5}
{'_id': ObjectId('6933d8803bcf340c5c3379b0'), 'name': 'Bullpup Rifle Mk II', 'category': 'Weapon', 'price': 105750, 'stock': 5}
{'_id': ObjectId('6933d8803bcf340c5c3379b1'), 'name': 'Explosive Rounds/box', 'category': 'Ammo', 'price': 55000, 'stock': 20}
{'_id': ObjectId('6933d8803bcf340c5c3379b2'), 'name': 'AR Ammo/box', 'category': 'Ammo', 'price': 26500, 'stock': 50}

In [59]:
#Latihan 4.2
# Rata-rata
avg_price = list(products.aggregate([
    {'$group': {'_id': None, 'avgPrice': {'$avg': '$price'}}}
]))[0]['avgPrice']

print(f"Rata-rata harga produk: {avg_price:.2f}\n")

# Menampilkan produk yang harganya di atas rata-rata
print("Produk dengan harga di atas rata-rata:")
for p in products.find({'price': {'$gt': avg_price}}):
    print(p)

Rata-rata harga produk: 81382.50

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6933d8803bcf340c5c3379ab'), 'name': 'Heavy Revolver Mk II', 'category': 'Weapon', 'price': 99000, 'stock': 10}
{'_id': ObjectId('6933d8803bcf340c5c3379ac'), 'name': 'Pump Shotgun Mk II', 'category': 'Weapon', 'price': 82500, 'stock': 15}
{'_id': ObjectId('6933d8803bcf340c5c3379ad'), 'name': 'SMG Mk II', 'category': 'Weapon', 'price': 85500, 'stock': 10}
{'_id': ObjectId('6933d8803bcf340c5c3379ae'), 'name': 'Assault Rifle Mk II', 'category': 'Weapon', 'price': 98750, 'stock': 10}
{'_id': ObjectId('6933d8803bcf340c5c3379af'), 'name': 'Carbine Rifle Mk II', 'category': 'Weapon', 'price': 107500, 'stock': 5}
{'_id': ObjectId('6933d8803bcf340c5c3379b0'), 'name': 'Bullpup Rifle Mk II', 'category': 'Weapon', 'price': 105750, 'stock': 5}

In [60]:
#Latihan 4.3
# Menghitung total produk setiap kategori
pipeline = [
    {'$group': {'_id': '$category', 'totalProduk': {'$sum': 1}}},
    {'$sort': {'totalProduk': -1}}
]

print("Total products in each category: ")
for result in products.aggregate(pipeline):
    print(result)

Total products in each category:
{'_id': 'Weapon', 'totalProduk': 8}
{'_id': 'Ammo', 'totalProduk': 2}

In [61]:
#Tugas 5.1
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["perusahaan"]
karyawan = db["karyawan"]

data = [
    {"nama": "Ilham", "umur": 30, "gaji": 75000000, "departemen": "Manager"},
    {"nama": "Asep", "umur": 28, "gaji": 4500000, "departemen": "HR"},
    {"nama": "Nahmier", "umur": 29, "gaji": 5500000, "departemen": "HR"},
    {"nama": "Flip", "umur": 28, "gaji": 4000000, "departemen": "HR"},
    {"nama": "Jane", "umur": 27, "gaji": 6500000, "departemen": "Finance"},
    {"nama": "Kris", "umur": 28, "gaji": 5500000, "departemen": "Finance"},
    {"nama": "Hye Jin", "umur": 29, "gaji": 6000000, "departemen": "Finance"},
    {"nama": "Julio", "umur": 25, "gaji": 7200000, "departemen": "IT"},
    {"nama": "Ones", "umur": 28, "gaji": 7000000, "departemen": "IT"},
    {"nama": "Leren", "umur": 27, "gaji": 7100000, "departemen": "IT"}
]

# Masukkan data
karyawan.insert_many(data)
print("Data karyawan berhasil dimasukkan ke database 'perusahaan'!")

Data karyawan berhasil dimasukkan ke database 'perusahaan'!

In [62]:
pipeline_tugas1 = [
    # Pengelompokkan per departemen dan nama, ambil gaji tertinggi
    {"$group": {
        "_id": {"departemen": "$departemen", "nama": "$nama"},
        "gaji": {"$max": "$gaji"}
    }},
    
    # Pengurutan
    {"$sort": {"_id.departemen": 1, "gaji": -1}},
    {"$group": {
        "_id": "$_id.departemen",
        "top_5": {"$push": {"nama": "$_id.nama", "gaji": "$gaji"}}
    }},
    
    # 5 Karyawan Teratas
    {"$project": {"top_5": {"$slice": ["$top_5", 5]}}}
]

hasil = karyawan.aggregate(pipeline_tugas1)
for data in hasil:
    print(f"\nDepartemen: {data['_id']}")
    for emp in data['top_5']:
        print(f"{emp['nama']} - Rp{emp['gaji']:,.0f}".replace(",", "."))

Departemen: Finance
Jane - Rp6.500.000
Hye Jin - Rp6.000.000
Kris - Rp5.500.000

Departemen: HR
Nahmier - Rp5.500.000
Asep - Rp4.500.000
Flip - Rp4.000.000

Departemen: Manager
Ilham - Rp75.000.000

Departemen: IT
Julio - Rp7.200.000
Leren - Rp7.100.000
Ones - Rp7.000.000

In [3]:
#Tugas 5.2
hapus = karyawan.delete_many({"umur": {"$lt": 26}})
print(f"{hapus.deleted_count} karyawan telah dihapus dari database.")

print("Data Setelah dihapus")
for emp in karyawan.find():
    print(emp)

1 karyawan telah dihapus dari database.
Data Setelah dihapus
{'_id': ObjectId('6933dba33bcf340c5c3379b4'), 'nama': 'Ilham', 'umur': 30, 'gaji': 75000000, 'departemen': 'Manager'}
{'_id': ObjectId('6933dba33bcf340c5c3379b5'), 'nama': 'Asep', 'umur': 28, 'gaji': 4500000, 'departemen': 'HR'}
{'_id': ObjectId('6933dba33bcf340c5c3379b6'), 'nama': 'Nahmier', 'umur': 29, 'gaji': 5500000, 'departemen': 'HR'}
{'_id': ObjectId('6933dba33bcf340c5c3379b7'), 'nama': 'Flip', 'umur': 28, 'gaji': 4000000, 'departemen': 'HR'}
{'_id': ObjectId('6933dba33bcf340c5c3379b8'), 'nama': 'Jane', 'umur': 27, 'gaji': 6500000, 'departemen': 'Finance'}
{'_id': ObjectId('6933dba33bcf340c5c3379b9'), 'nama': 'Kris', 'umur': 28, 'gaji': 5500000, 'departemen': 'Finance'}
{'_id': ObjectId('6933dba33bcf340c5c3379ba'), 'nama': 'Hye Jin', 'umur': 29, 'gaji': 6000000, 'departemen': 'Finance'}
{'_id': ObjectId('6933dba33bcf340c5c3379bc'), 'nama': 'Ones', 'umur': 28, 'gaji': 7000000, 'departemen': 'IT'}
{'_id': ObjectId('6933dba33bcf340c5c3379bd'), 'nama': 'Leren', 'umur': 27, 'gaji': 7100000, 'departemen': 'IT'}

In [4]:
#Tugas 5.3
pipeline_tugas3 = [
    {"$group": {
        "_id": "$departemen",
        "total_gaji": {"$sum": "$gaji"},
        "rata_umur": {"$avg": "$umur"}
    }}
]

hasil3 = list(karyawan.aggregate(pipeline_tugas3))
for h in hasil3:
    print(f"Departemen: {h['_id']}")
    print(f"  Total Gaji: Rp{h['total_gaji']:,}")
    print(f"  Rata-rata Umur: {h['rata_umur']:.1f} tahun\n")

Departemen: HR
  Total Gaji: Rp14,000,000
  Rata-rata Umur: 28.3 tahun

Departemen: Manager
  Total Gaji: Rp75,000,000
  Rata-rata Umur: 30.0 tahun

Departemen: Finance
  Total Gaji: Rp18,000,000
  Rata-rata Umur: 28.0 tahun

Departemen: IT
  Total Gaji: Rp14,100,000
  Rata-rata Umur: 27.5 tahun